@font-face {
  font-family: 'SegoeUI';
  src: url(segoe/SegoeUI.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url(segoe/SegoeUIBold.ttf);
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

:root {
  --text-gray-900: rgb(26,32,44);
  --text-grayy-900:rgb(26,32,44);
  --text-color-secondary: rgb(3, 169, 244);
  --background-hero: rgb(247,250,252);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


* {
  font-family: 'SegoeUI';
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  color: rgb(113,128,150);
}

.logo {
  stroke: currentColor;
  color: var(--text-color-secondary);
}

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--background-hero);
}

header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5rem 0.75rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color:var(--text-gray-900);
}

.main-logo {
  font-weight: 700;
  font-size: 1.875rem;
}

nav a {
  font-weight: 400;
  font-size: 1.25rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header span {
  display: flex;
  gap: 10px;
}

.hero {
  background-color: var(--background-hero);
}

.header {
  text-align: center;
  padding: 8rem 0.75rem 8rem 0.75rem;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
  /* display: flex;
  flex-direction: column; */
  white-space: pre-line;
  align-items: center;
  color: var(--text-gray-900);
}

.dark {
  --text-gray-900: rgb(255, 255, 255);
  background-color: rgb(44, 44, 44);
  --background-hero: rgb(19, 22, 24);
  --text-grayy-900:rgb(19, 22, 24);
}

.header h1 span {
  color: var(--text-color-secondary);
}

.header h2 {
  font-weight: 400;
  font-size: 1.5rem;
  /* mt1rem */
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.btn-download {
  text-decoration: none;
  color: white;
  background-color: var(--text-color-secondary);
  padding: 1rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 700;
  font-size: 1.25rem;
  display: inline-block;
}

.btn-download:hover{
  background-color: rgb(3,152,220);
}

.description {
  max-width: 1024px;
  margin: 0 auto;
}

.description__header {
  text-align: center;
}

.description__header h2 {
  color: var(--text-gray-900);
  font-size: 2.25rem;
}

.description__header p {
  font-size: 1.25rem;
}

.description__feature {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.description__feature2 {
  flex-direction: row-reverse;
}

.description__feature h3 {
  color: var(--text-gray-900);
  font-size: 1.875rem;
}

.description__feature p {
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.description__feature-text {
  /* w100% */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* jcc */
  justify-content: center;
}

.description__feature-img {
  width: 100%;
  padding: 1.5rem;
}

.hero2 {
  padding: 4rem 0.75rem;
  max-width: 1024px;
  margin: 0 auto;
}

.hero2>div {
  background-color: rgb(230,246,254);
  border-radius: 0.375rem;
  /* p1rem */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.75rem;
}

.hero2 h2 {
  font-size: 1.5rem;
  color: var(--text-grayy-900);
}

.hero2 h2 div:last-child {
  color: var(--text-color-secondary);
}

/* Mobile first */

footer {
  background-color: var(--background-hero);
  padding: 4rem 0.75rem;
  text-align: center;
}

footer nav {
  margin-top: 1.5rem;
}

.footer-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
}

.footer-menu a {
  color: var(--text-gray-900);
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 700;
}

.footer-logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--text-gray-900);
  font-weight: 700;
}

.footer-icon-list {
  margin-top: 2rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

.footer-icon-list svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: rgb(160,174,192);
}

.footer-icon-list svg:hover {
  fill: var(--text-gray-900);
}

.copyright {
  margin-top: 2rem;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}

.modal.show {
  display: flex;
}

.login-form {
  background-color: white;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.375rem;
  position: relative;
}

.close-modal-btn{
width: 2rem;
height: 2rem;
position: absolute;
right: 2rem;
top: 2rem;
cursor: pointer;
--back-color:rgb(133, 133, 134)
}

.close-modal-btn::before, .close-modal-btn::after{
  content: '';
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  border-radius: 2px;
  position: absolute;
  margin: auto;
  inset:0;
  background-color: var(--back-color);
}
.close-modal-btn:hover{
 --back-color: var(--text-gray-900);
}

.close-modal-btn::before{
  transform: rotate(45deg) ;
}

.close-modal-btn::after{
  transform: rotate(-45deg) ;
}


.btn-login {
  color: white;
  background-color: var(--text-color-secondary);
  padding: .5rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 700;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}

.btn-login:hover {
  background-color: rgb(3,152,220);
}

.login-form input {
  font-size: 1.25rem;
  border: 2px solid rgb(179, 179, 179);
  border-radius: 0.375rem;
  padding: 0.5rem;
  outline: none;
}

.login-form input:hover {
  border: 2px solid rgb(126, 126, 126);
}

.login-form input:focus {
  border: 2px solid var(--text-color-secondary);
}

.login-form h2 {
  color: var(--text-gray-900);
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}

/* >=640px */
@media (min-width: 640px) {
  .description__feature-text, .description__feature-img {
    width: 50%;
  }
  .hero2>div {
    flex-direction: row;
    /* gap: 0; */
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding: 3rem;
  }
  .hero2>div a {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .description__header p {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}